.buttonsContainer {
    display: flex;
    gap: 10px;

}

.responseContainer {
    height: 400px;
    margin-top: 15px;
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
}