.sidebar {
    display: none;
    padding: 10px;
    background-color: white;
    width: 300px;
}

.sidebar.open {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    z-index: 2;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #4f4f4f;
    opacity: 0.4;
}

.nav {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.nav a {
    font-size: 1.2rem;
    padding: 10px 50px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
}

.nav a.active {
    color: #06ab7a;
}

.close {
    border: none;
    background-color: white;
}

.close img {

}
