.input:focus {
    outline: none;
}

.input {
    outline: none;
    height: 35px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    outline: none;
}

.errorInput {
    outline: none;
    border: 1px solid rgba(153, 51, 102, 0.58);
}

.errorInput:focus {
    border: 1px solid rgba(153, 51, 102, 0.84);
}

.error {
    font-weight: bold;
    color: rgba(153, 51, 102, 0.58);
}
